<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>5 &#9634; Business {{name}}</title>
</head>
<body>
<a href="/"><strong>&#9665; Back Home</strong></a>
<h1>5 &#9634; Reviews</h1>
<h1>{{business.name}}</h1>
<h3>[<a href="http://maps.google.com/maps?z=18&q={{business.location[1]}},{{business.location[0]}}">Map</a>]</h3>
<fieldset>
    <legend>Overall Business Rating</legend>
    <h2>{{business.rating}} &#9734;</h2>
</fieldset>
<fieldset>
    <legend>Reviews</legend>
    {% for review in business.reviews %}
    <p>{{review.review}}</p>
    <small>{{review.date}}</small>
    {% endfor %}
</fieldset>
<fieldset>
    <legend>Tags</legend>
    <ul>
    {% for tag in business.tags %}
    <li>{{tag}}</li>
    {% endfor %}
    </ul>
</fieldset>
</body>
</html>