<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-debug.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
    <title>Fake Four Square</title>
</head>
<body>
<!-- <h1>Fake Four Square Test Links</h1>
<h2>APP</h2>
<ul>
    <li><a href="/review/test">Create a review for Test Business</a></li>
    <li><a href="/business/test">View Test Business reviews</a></li>
    <li><a href="/search/-73.99159/40.728121/100/">Search 100 meters</a></li>
    <li><a href="/search/-73.99159/40.728121/1000/">Search 1000 meters</a></li>
</ul>
<h2>API</h2>
<ul>
    <li><a href="/api/business/test">View Test Business reviews</a></li>
    <li><a href="/api/search/-73.99159/40.728121/100/">Search 100 meters</a></li>
    <li><a href="/api/search/-73.99159/40.728121/1000/">Search 1000 meters</a></li>
</ul> -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-3">Fake Four Square</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            Info Cards
        </div>
        <div class="col-12 col-md-8">
            <div id="map" class="">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Selected Data
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
