<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>5 &#9634; Business review {{name}}</title>
</head>
<body>
<a href="/"><strong>&#9665; Back Home</strong></a>
<h1>5 &#9634; Review</h1>
<h1>{{name}}</h1>

<form name="frmReview" method="post" action="/review/{{name}}/post/">
    <fieldset>
        <legend>Rate Business &#9734;</legend>
        <select name="rate">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Review</legend>
        <textarea name="review" spellcheck="true" maxlength="255" placeholder="Please enter business review here." rows="10"
                  cols="50"></textarea>
    </fieldset>
    <fieldset>
        <legend>Tags</legend>
        <input type="text" name="tags" spellcheck="true" maxlength="255"
               placeholder="Space separated tags.">
    </fieldset>
    <input type="submit" value="Done">
</form>
</body>
</html>